/*--------------------------------------------------------------
# Section Hero
--------------------------------------------------------------*/
#hero {
    display: flex;
    align-items: center;

    background-color: $primary;
    background-image: url('../img/bg-hero-afiliados-mob.webp');

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    /* Set a specific height */
    min-height: 80vh;


    @media only screen and (min-width: 1200px) {
        background-image: url('../img/bg-hero-afiliados@3x.webp');
    }

    @media only screen and (min-width: 992px) and (max-width: 1199.99px) {
        background-image: url('../img/bg-hero-afiliados@2x.webp');
    }

    @media only screen and (min-width: 768px) and (max-width: 991.99px) {
        background-image: url('../img/bg-hero-afiliados.webp');
    }

    @media only screen and (max-width: 767.98px) {
        align-items: flex-start;

        .container {
            padding-right: 0;
            padding-left: 0;
        }

        // padding-top:  calc($pad-space/2);
    }


    /* Turn off parallax scrolling for all tablets and phones. Increase/decrease the pixels if needed */
    @media only screen and (max-device-width: 1366px) {
        background-attachment: scroll;
    }


    .section-title {
        @media only screen and (max-width: 767.98px) {
            text-align: center;
        }

        h1.logo {

            @media only screen and (max-width: 767.98px) {
                margin: 1.3rem 0 2.8rem;
            }

        }

        .title-default {
            @media only screen and (min-width: 1200px) {
                font-size: 2.625rem;
            }

            @media only screen and (min-width: 992px) and (max-width: 1199.99px) {
                font-size: 2.225rem;
            }

            @media only screen and (min-width: 768px) and (max-width: 991.99px) {
                font-size: 1.975rem;
            }

            @media only screen and (max-width: 540px) {
                font-size: 1.75rem;
                margin-bottom: 1.5rem;

            }
        }

        .subtitle-default {
            @media only screen and (min-width: 1200px) {
                font-size: 1.875rem;
            }

            @media only screen and (min-width: 992px) and (max-width: 1199.99px) {
                font-size: 1.675rem;
            }

            @media only screen and (min-width: 768px) and (max-width: 991.99px) {
                font-size: 1.475rem;
            }

            @media only screen and (max-width: 767.98px) {
                display: none;
            }

        }

        .title-default,
        .subtitle-default {
            color: $white;
        }
    }
}