/*--------------------------------------------------------------
# Components Button
--------------------------------------------------------------*/
.btn {
    font-weight: $fw-bold;
    letter-spacing: 0.05rem;

    border-width: 4px;

    padding: 0.525rem 2.125rem;

    text-decoration: none;
    border-radius: 3.8125rem;

    @media only screen and (min-width: 1200px) {
        font-size: 1.625rem;
        padding-top: 0.525rem;
        padding-bottom: 0.525rem;
    }

    @media only screen and (min-width: 992px) and (max-width: 1199.99px) {
        font-size: 1.425rem;
        padding-top: 0.425rem;
        padding-bottom: 0.425rem;
    }

    @media only screen and (min-width: 768px) and (max-width: 991.99px) {
        font-size: 1.175rem;
        padding-top: 0.375rem;
        padding-bottom: 0.375rem;
    }

//   @media (max-width: 599px) {
//     padding-top: 0.4rem;
//     padding-bottom: 0.4rem;
//   }

  &.btn-primary {
    background-color: $primary;
    border-color: $primary;
    color: $white;
    // border-radius: 2rem;

    &:hover,
    &:active,
    &:not(:disabled):not(.disabled):active {
        background-color: $white;
      border-color: $primary;
      color: $primary;
    }

    &:focus,
    &:active {
      box-shadow: 0 0 0 0.2rem rgba($primary, 25%);
    }
  }
  &.btn-secondary {
    background-color: $secondary;
    border-color: $secondary;
    color: $white;
    // border-radius: 2rem;

    &:hover,
    &:active,
    &:not(:disabled):not(.disabled):active {
        background-color: $white;
      border-color: $secondary;
      color: $secondary;
    }

    &:focus,
    &:active {
      box-shadow: 0 0 0 0.2rem rgba($secondary, 25%);
    }
  }
}
