/*--------------------------------------------------------------
# Components Card
--------------------------------------------------------------*/
.card {
    border: none;

    .card-body,
    .card-header {
        background-color: transparent;
        border: none;

        p {
            &::first-letter {
                text-transform: capitalize;
            }
        }

        .ico-rounded {
            width: 68px;
            height: 68px;

            @media only screen and (max-width: 767.98px) {
                width: 40px;
                height: 40px;
            }

            .card-img {
                max-width: 34px;

                @media only screen and (max-width: 767.98px) {
                    max-width: 24px;
                }
            }
        }
    }

    .card-title {
        &:last-child {
            margin-bottom: 0;
        }
    }

    &.card-porque {
        border: none;
        background-color: $bg-light;
        border-radius: 0.9735rem;
        padding: 1.8rem 1rem;
        text-align: center;
        box-shadow: $drop-shadow;

        height: 100%;


        @media only screen and (min-width: 900px) and (max-width: 992px) {
            padding-left: .5rem;
            padding-right: .5rem;
        }

        @media only screen and (max-width: 899.99px) {
            padding-left: 0;
            padding-right: 0;
        }

        .card-title {
            font-size: 1rem;
            line-height: 1.2;
            font-weight: $fw-regular;
            color: $primary;

            strong {
                display: block;
            }

            @media only screen and (min-width: 1200px) {
                font-size: 1.075rem;
            }


            @media only screen and (min-width: 1024px) and (max-width: 1199.99px) {
                font-size: 0.95rem;
            }

            @media only screen and (max-width: 1025px) {}

            @media only screen and (max-width: 600px) {}
        }

        .card-body {
            padding: 0;

            .card-img {
                margin-bottom: 1rem;
                max-width: 45px;
                display: inline-flex;
            }
        }
    }

    &.card-cobertura {
        border: none;
        background-color: transparent;
        border-radius: 0;
        box-shadow: none;
        padding: 1.5rem 1rem;
        text-align: center;

        @media only screen and (min-width: 992px) and (max-width: 1199.99px) {
            padding: 1.5rem 0;

            .card-body {
                padding-left: 0;
                padding-right: 0;
            }
        }

        @media only screen and (min-width: 768px) and (max-width: 991.99px) {
            padding: 1rem 0;

            .card-body {
                padding-left: 0;
                padding-right: 0;
            }
        }

        @media only screen and (max-width: 767.98px) {
            padding: 1rem;

            .card-body {
                padding-left: 0;
                padding-right: 0;
            }
        }



        .card-title {
            font-size: 1.25rem;
            font-weight: $fw-bold;
            margin-top: 0.5rem;

            @media only screen and (min-width: 1200px) {
                margin-bottom: .8rem;
            }

            @media only screen and (min-width: 768px) and (max-width: 1199.99px) {
                margin-bottom: .6rem;
            }

            @media only screen and (max-width: 767.98px) {
                margin-bottom: .6rem;

            }
        }

        .card-text {
            font-weight: $fw-light;
            font-size: .915rem;
            line-height: 1.2;

            @media only screen and (min-width: 1200px) {
                font-size: 1rem;
            }

            @media only screen and (min-width: 768px) and (max-width: 1199.99px) {
                font-size: 0.875rem;
            }

            @media only screen and (max-width: 767.98px) {
                line-height: 1.4;
            }
        }

        .card-body,
        .card-header {
            padding-top: 0;
            padding-bottom: 0;
        }
    }

    &.card-assistencia {
        background: linear-gradient(207.86deg,
                rgba(0, 160, 255, 0.5) 1.49%,
                rgba(0, 57, 91, 0.3) 100.63%);
        box-shadow: 0px 4px 24px -2px rgba(0, 0, 0, 0.25);
        backdrop-filter: blur(20px);
        border-radius: 3.125rem;
        position: relative;
        border: none;

        -webkit-filter: drop-shadow(0px 4px 24px -2px rgba(0, 0, 0, .3));
        -moz-filter: drop-shadow(0px 4px 24px -2px rgba(0, 0, 0, .3));
        -ms-filter: drop-shadow(0px 4px 24px -2px rgba(0, 0, 0, .3));
        -o-filter: drop-shadow(0px 4px 24px -2px rgba(0, 0, 0, .3));
        filter: drop-shadow(0px 4px 24px -2px rgba(0, 0, 0, .3));

        &:after {
            content: "";
            top: 0;
            left: 0;
            position: absolute;
            z-index: -1;

            width: 100%;
            height: 100%;
            display: block;

            background: rgba(30, 30, 30, 0.2);
            // box-shadow: 0px 4px 24px -2px rgba(0, 0, 0, 0.25);
            backdrop-filter: blur(20px);
            border-radius: 3.125rem;
        }

        .card-header,
        .card-body,
        .card-footer {
            border: none;
            background-color: transparent;

            @media only screen and (min-width: 1200px) {
                padding-left: 8rem;
                padding-right: 8rem;
            }

            @media only screen and (min-width: 992px) and (max-width: 1199.99px) {
                padding-left: 6rem;
                padding-right: 6rem;
            }

            @media only screen and (min-width: 768px) and (max-width: 991.99px) {
                padding-left: 2.5rem;
                padding-right: 2.5rem;
            }
        }

        .card-assistencia-item {
            background: none;
            box-shadow: none;
            border: none;
            backdrop-filter: none;

            &:after {
                display: none;
            }

            &:not(:last-child) {
                margin-bottom: 1.8rem;
            }

            // .ico-rounded {
            //     width: 68px;
            //     height: 68px;

            //     .card-img {
            //         max-width: 30px;
            //     }
            // }

            .card-body {
                gap: 1rem;
            }
        }


        .card-header {
            padding-top: 2.5rem;
            padding-bottom: 2.5rem;

            @media only screen and (min-width: 768px) and (max-width: 991.99px) {
                padding-bottom: 1.5rem;
            }

            .title-default {
                color: $white;
                text-align: center;
                font-weight: $fw-bold;
                text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);

                .price {
                    color: $light-secondary;
                }
            }
        }


        .card-footer {
            display: flex;
            align-items: center;
            justify-content: center;

            padding-top: 2.5rem;
            padding-bottom: 2.5rem;

            @media only screen and (min-width: 768px) and (max-width: 991.99px) {
                padding-top: 1.5rem;
            }

            +p {
                text-align: center;
                color: $white;
                text-decoration: underline;
            }
        }
    }

    &.card-assistencia-item {
        background: linear-gradient(207.86deg,
                rgba(0, 160, 255, 0.5) 1.49%,
                rgba(0, 57, 91, 0.3) 100.63%);
        box-shadow: 0px 4px 24px -2px rgba(0, 0, 0, 0.25);
        backdrop-filter: blur(20px);
        border-radius: 0.9375rem;
        position: relative;

        &:after {
            content: "";
            top: 0;
            left: 0;

            width: 100%;
            height: 100%;
            display: block;

            background: rgba(30, 30, 30, 0.2);
            box-shadow: 0px 4px 24px -2px rgba(0, 0, 0, 0.25);
            backdrop-filter: blur(20px);
            border-radius: 0.9375rem;
        }

        .card-body {
            padding: 0;
            display: flex;
            align-items: flex-start;
            flex-direction: row;

            @media only screen and (min-width: 768px) and (max-width: 1199.99px) {
                align-items: center;
            }
        }

        // .ico-rounded {
        //     .card-img {
        //         max-width: 20px;
        //     }
        // }

        .card-title {
            font-size: 1.125rem;
            font-weight: $fw-bold;
            margin-bottom: .3rem;
            color: $white;

            @media only screen and (min-width: 1200px) {
                font-size: 1.325rem;
            }

            @media only screen and (min-width: 992px) and (max-width: 1199.99px) {
                font-size: 1.275rem;
            }

            @media only screen and (min-width: 768px) and (max-width: 991.99px) {
                font-size: 1.125rem;
            }
        }

        .card-text {
            font-weight: $fw-light;
            font-size: 0.875rem;
            line-height: 1.2;
            color: $white;

            @media only screen and (min-width: 1200px) {
                font-size: 1.125rem;
            }

            @media only screen and (min-width: 992px) and (max-width: 1199.99px) {
                font-size: 1rem;
            }

            @media only screen and (min-width: 768px) and (max-width: 991.99px) {
                font-size: 0.975rem;
            }
        }
    }

    &.card-left-icon {
        .card-header {
            padding: 0;
            display: flex;
            align-items: center;
            flex-direction: row;
            gap: 1rem;

            @media only screen and (max-width: 767.98px) {
                flex-direction: column;
                gap: 0;

            }

            picture {
                display: inline-flex;
                align-items: center;
                justify-content: center;

                @media only screen and (min-width: 1200px) {
                    max-width: 61px;
                    max-height: 50px;

                    .card-img {
                        max-width: 61px;
                    }
                }

                @media only screen and (min-width: 992px) and (max-width: 1199.99px) {
                    max-width: 61px;

                    .card-img {
                        max-width: 61px;
                    }
                }

                @media only screen and (min-width: 768px) and (max-width: 991.99px) {
                    max-width: 36px;

                    .card-img {
                        max-width: 36px;
                    }
                }

                @media only screen and (max-width: 767.98px) {
                    max-width: 30px;

                    .card-img {
                        max-width: 30px;
                    }
                }
            }

            .card-title {
                color: $primary;
                font-weight: $fw-regular;

                @media only screen and (min-width: 1200px) {
                    font-size: 1.625rem;
                }

                @media only screen and (min-width: 992px) and (max-width: 1199.99px) {
                    font-size: 1.425rem;
                }

                @media only screen and (min-width: 768px) and (max-width: 991.99px) {
                    font-size: 1.175rem;
                }

                @media only screen and (max-width: 767.98px) {
                    font-size: 0.975rem;
                }

                @media only screen and (max-width: 460px) {
                    font-size: 0.875rem;
                }
            }
        }
    }
}